.navbar {
  background: plum;
  min-height: 70px;
  position: fixed;
  width: 100%;
  color:purple;
  font-size: 24px;
  z-index: 99;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 26px 0px;
  width: 33.3%;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: hotpink;
  font-weight: 900;
  font-family: fantasy
}

@media (max-width: 420px) {
  .navbar li:first-child {
    width: 25%;
  }

  .navbar li:nth-child(2) {
    width: 35%;
  }

  .navbar li:last-child {
    width: 40%;
  }
}
